<template>
  <div id="app">
    <header>
      <h1>FAQ</h1>
    </header>
   <div class="faqs">
     <FAQ 
     v-for="(faq,i) in faqs"
    :faq="faq" 
    :index= "i" 
    :key="i"
    :open="faq.open"
    @toggleOpen="toggleOpen"
    />
   </div>
  </div>
</template>

<script>
import FAQ  from './FAQ';

export default {
  name: 'App',
  components: {FAQ},
  data() {
    return {
      faqs:[
        {
          id:1,
          question:"how r u",
          answer:"i am fine There are many different shades of black, or colors that vary just a little bit from pure black. These are colors that maintain aspects of their original hue and saturation while having very low brightness. Examples of shades of black include ebony, charcoal, onyx, jet black, and licorice.",
          open:false
        
        },
        {
          id:2,
          question:"where r u",
          answer:"from kannur There are many different shades of black, or colors that vary just a little bit from pure black. These are colors that maintain aspects of their original hue and saturation while having very low brightness. Examples of shades of black include ebony, charcoal, onyx, jet black, and licorice.",
          open:false
        
        }
      ]
    }
  },
  methods:{
    toggleOpen: function(index) {
      this.faqs= this.faqs.map((faq,i) =>{
        if (index ===i){
          faq.open = !faq.open;
        }else{
          faq.open = false;
        }
        return faq;

      });
      }
    }
  }

</script>

<style>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  }
  body{
    background-color: #eee;
    font-family: sans-serif;
  }
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  .faq{
    display: block;
    width: 100%;
    max-width: 768px;
    margin: 15px auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 2);
    background-color: white;
  }
  .faq .question{
    position: relative;
    color: #3c3c3c;
    font-size: 20px;
    transition: all 0.4s linear;
    
  }
  
  .faq .question::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%) rotate(0deg);

    width: 30px;
    height: 30px;
    background-image: url(./arrow-down-mint.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    transition: all 0.2s linear;
  }


  .faq.open .question{
    margin-bottom: 15px;

  }


  .faq.open .question::after{
     transform: translateY(-50%) rotate(90deg);
  }


  .faq .answer{
    color: #3c3c3c;
    font-size: 18px;
    opacity: 0;
    max-height: 0px;
    overflow-y: hidden;
    transition: all 0.4s ease-out;
  }

  .faq.open .answer{
    opacity: 1;
    max-height: 1000px;

  }
</style>
